h2{
    border-bottom: dotted rgb(75, 72, 72) 3px;
    padding-bottom: 5px;
    margin-left: 20px;
}
.header{
   height: 100px;
   font-family:sans-serif; 
   background-color: #FF6363;
   margin: 0;
   text-align: center;
   padding-top: 20px;
   color:white;
   font-size: 40px;
}
.search-link{
    position: absolute;
    right: 0;
    bottom: -5px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: green;
    background-repeat: no-repeat;
    color: white;
}


