body {
background-color:#6FDFDF;
line-height: 1.5;
text-align: center;
}

.book-rack{
  display: inline-block;
  margin-left: 0;
  height: 300px;
  width: 250px;
  padding: 5px;
  text-align:justify;
   
}
.book-grid{
  display:block;
  
}
.select-option{
  background-color: green;
 
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-image: url('./Icons/drop-down.svg');
  background-repeat: 'no-repect';
  background-position: center;

}

.content{
  text-align:left;
  size: 3px;
  
}

.search-bar{
  width: 80%;
  padding: 10px;
  font-size: 1.25em;
  border: none;
  outline: none;
  border-radius: 20px;
}

.search-submit{
  margin-left: 20px;
  padding: 4px;
  border: 2px solid;
  border-radius: 12px;
  padding: 5px;
}

